<h2 mat-dialog-title>Reset Password</h2>
<mat-dialog-content [formGroup]="forgotForm">
    <label>Email:</label>
    <input type="email" formControlName="email" />
    @if(forgotForm.controls.email.touched &&
    forgotForm.controls.email.errors?.['required']) {
    <span class="Error">*Email is required</span>
    }
    @if (forgotForm.controls.email.touched &&
    forgotForm.controls.email.errors?.['email']) {
    <span class="Error">*Enter valid email</span>
    }

    <label>New Password:</label>
    <input type="password" formControlName="password" (input)="checkPassword()" />
    @if (forgotForm.controls.password.touched &&
    forgotForm.controls.password.errors?.['required']) {
    <span class="Error">*Password required</span>
    }
    @if(forgotForm.controls.password.touched &&
    forgotForm.controls.password.errors?.['minlength']) {
    <span class="Error"> *Minimum 3 characters</span>
    }

    <label>Confirm Password:</label>
     <input type="password" formControlName="confirmPassword"  (input)="checkPassword()"/>
        @if(forgotForm.controls.confirmPassword.touched && 
          forgotForm.controls.confirmPassword.errors?.['required'] ) {
             <span class="Error">*Confirm Password required</span>
        }

         @if(passwordMismatch) {
        <span class="Error"> *Passwords do not match </span>
    }
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="resetPassword()"
     [disabled]="forgotForm.invalid || passwordMismatch">Reset Password</button>

     <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>