 [mat-dialog-title] {
     text-align: center;
     color: #f64a0b !important;
 }

 mat-dialog-content {
     display: flex;
     flex-direction: column;
     gap: 8px;

    //  background: rgba(255, 255, 255, 0.12);
    //  backdrop-filter: blur(8px);
    //  border-radius: 12px;
    //  padding: 20px;

     input {
         padding: 10px;
         border: 1px solid #16395d;
         border-radius: 6px;
         outline: none;

     }

     label {
         color: #16395d;
         font-weight: 600;
     }

     .Error {
         color: red;
         font-size: 13px;
     }
 }

 mat-dialog-actions {
     justify-content: center;
 }

 mat-dialog-actions button {
     background-color: #16395d;
     color: white;
     margin: 5px;
     border-radius: 6px;

     &:hover {
         background-color: #f64a0b;
     }
 }