<form [formGroup]="registrationForm" (ngSubmit)="onRegistration()">
    <h1>Registration Form</h1>
    <div class="regformStyle">
        <label for="name"> Name:</label>
        <input type="text" formControlName="name" (keypress)="allowOnlyLetters($event)" maxlength="10"
            [class.error-border]="registrationForm.controls.name.invalid && registrationForm.controls.name.touched" />
        @if (registrationForm.controls.name.invalid && registrationForm.controls.name.touched) {
        <span class="Error">*Enter your name</span>
        }
        @if (registrationForm.controls.name.errors?.['pattern']) {
        <span class="Error">*Only letters are allowed</span>
        }
    </div>

    <div class="regformStyle">
        <label for="phone"> Phone:</label>
        <input type="text" formControlName="phone" (keypress)="allowonlyNumbers($event)" maxlength="10"
            [class.error-border]="registrationForm.controls.phone.invalid && registrationForm.controls.phone.touched" />
        @if (registrationForm.controls.phone.invalid && registrationForm.controls.phone.touched) {
        <span class="Error">*Enter Phone number </span>
        }
    </div>
    <div class="regformStyle">
        <label for="email"> Email:</label>
        <input type="email" formControlName="email"
            [class.error-border]="registrationForm.controls.email.invalid && registrationForm.controls.email.touched" />
        @if (registrationForm.controls.email.errors?.['required'] && registrationForm.controls.email.touched) {
        <span class="Error">*Email is required</span>
        }
        @if (registrationForm.controls.email.errors?.['email'] && registrationForm.controls.email.touched) {
        <span class="Error">*Enter valid email</span>
        }

    </div>
    <div class="regformStyle">
        <label for="password"> Password:</label>
        <input type="password" formControlName="password" (input)="checkPassword()"
            [class.error-border]="registrationForm.controls.password.invalid && registrationForm.controls.password.touched" />
        @if (registrationForm.controls.password.invalid && registrationForm.controls.password.touched) {
        <span class="Error">*Enter Password </span>
        }
    </div>
    <div class="regformStyle">
        <label for="confirmPassword"> Confirm Password:</label>
        <input type="password" formControlName="confirmPassword" (input)="checkPassword()"
            [class.error-border]="registrationForm.controls.confirmPassword.invalid && registrationForm.controls.confirmPassword.touched" />
        @if (passwordMismatch) {
        <span class="Error">*Passwords do not match</span>
        }
        @if (registrationForm.controls.confirmPassword.invalid && registrationForm.controls.confirmPassword.touched) {
        <span class="Error">*Confirm Password is Required</span>
        }

    </div>
    <div class="submitBtnStyle">
        
           <input  type="submit" value="Submit" [disabled]="registrationForm.invalid || passwordMismatch" />
           <!-- This makes the button itself inactive until valid -->
    </div>
    <div class="loginBackbtns">
        <p>Existing User? Then login</p>
        <input (click)="login()" type="button" value="login" routerLink="/login">
         <input  type="button" value="backtoHome" routerLink ="/" />
    </div>
</form>
<!-- @if(showSuccessPopUp) {
    <div class = "containerPopUp">
        <div class = "popUpBox">
        <h2>Registration Successfull!</h2>
    <p>Your account has been created successfully.</p>
    <button (click)="closePopUp()">OK</button>
    </div>
    </div>
} -->



